*~
.*.swp
.swp
*.log
.DS_Store
.vscode/
.direnv/
.envrc.local
.flatpak-builder/
zig-cache/
.zig-cache/
zig-out/
zig-pkg/*
!zig-pkg/uucode-0.2.0-ZZjBPqZVVABQepOqZHR7vV_NcaN-wats0IB6o-Exj6m9/
!zig-pkg/uucode-0.2.0-ZZjBPqZVVABQepOqZHR7vV_NcaN-wats0IB6o-Exj6m9/**
build-cmake/
CMakeCache.txt
CMakeFiles/
/build.zig.zon.bak
/result*
/.nixos-test-history
example/*.wasm
test/ghostty
test/cases/**/*.actual.png
flatpak/builddir/
flatpak/repo/

glad.zip
/Box_test.ppm
/Box_test_diff.ppm
/ghostty.qcow2

vgcore.*

# Beads
.beads/
